#body {
    background-color: var(--black-smoke);
}

#container-movies {
    background-color: var(--black-city-smoke);
}

/*********** VIDEO **********/

.video {
    margin: auto;
    display: block;
    width: 800px;
    height: 500px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 10px solid var(--black-city-smoke);
  }

.title-movie {
    color: var(--polar-bear);
    text-align: center; 
    margin-top: 150px;
    font-family: 'Lion King';
    font-size: 3rem;
}

.subtitle-movie {
    color: var(--polar-bear);
    text-align: center; 
    font-family: 'Lion King';
    font-size: 2rem;
}

/********** LARGE SCREEN **********/

@media only screen and (min-width: 1366px) {

    iframe {
        border: 10px solid var(--black-city-smoke);
    }

    .video {
        width: 800px;
        height: 500px;
    }

    .title-movie {
        margin-bottom: 50px;
    }

    .subtitle-movie {
        font-size: 2rem;
        margin: 25px 25px;
    }
}

/********** BIG SCREEN **********/

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    iframe {
        border: 8px solid var(--black-city-smoke);
    }

    .video {
        width: 800px;
        height: 500px;
    }

    .title-movie {
        margin-bottom: 50px;
    }

    .subtitle-movie {
        font-size: 1.5rem;
        margin: 20px 20px;
    }
}

/********** MEDIUM SCREEN **********/

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    iframe {
        border: 6px solid var(--black-city-smoke);
    }

    .video {
        width: 600px;
        height: 400px;
    }

    .title-movie {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    .subtitle-movie {
        font-size: 1.5rem;
        margin: 20px 20px;
    }
  }

/********** SMALL SCREEN **********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    iframe {
        border: 6px solid var(--black-city-smoke);
    }

    .video {
        width: 350px;
        height: 200px;
    }

    .title-movie {
        margin-top: 50px;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .subtitle-movie {
        font-size: 1rem;
        margin: 20px 20px;
    }
}